#*
*$
*.BAK
*.BASE
*.OTHER
*.THIS
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.merge-left*
*.merge-right*
*.mine
*.o
*.obj
*.olb
*.old
*.orig
*.prej
*.pyc
*.pyo
*.rej
*.working
*~
,*
.#*
.DS_Store
.bzr
.del-*
.make.state
.nse_depinfo
.project
.svn
.~*~
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
svn-commit*.tmp
sqlite.db
.idea